/* General */

body {  
	font-family: Literata, sans-serif;
	font-weight: 400;
	margin: 0;
}

a {
	color: #35B1EA;
}

ul {
	padding: 10px;
	margin: 0;
}      

@font-face{
	font-family: "Literata";
	src: url('/fonts/Literata/literata-regular.otf');
}

@font-face{
	font-family: "Literata";
	src: url('/fonts/Literata/literata-bold.otf');
	font-weight: bold;
}

/* Top or Title */

#title {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 36px;
	font-weight: bold; /* For cross browser suppor */
}

#top {  
	background-color: #35B1EA;
	padding: 0px;
	margin: 0;
	height: 5px;
	width: 100%;
	position:fixed;z-index:9999;
}

/* Content of the Page */

.content {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
	max-width: 700px;
	margin: auto;
	line-height: 1.58; /* Magic number from medium.com */
}

.drop_cap {
	font-size: 60px;
	float: left;
	line-height: 80%;
	padding-right: 10px;
}

code {
	background-color: #eff0f1;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #e1e1e8;
}

.full {
	display: block;
	padding: 10px;
	margin: 15px;
}

/* Bottom of the page */

#comments_title {
	color: #35B1EA;
	font-size: 20px;
	border-style: solid;
	border-color: #35B1EA;
	border-left: 0;
	border-right: 0;
	padding: 3px;
	margin-bottom: 10px;
}

#facebook_comments {
	display: none;
	margin: 0 auto;
	max-width: 600px;
}

/* Home page */

.home {
	max-width: 600px;
}

#date {
	color: #666;
	padding-left: 10px;
	font-size: 15px;
}

#nav li {
	list-style: none;
	line-height: 1.5;
}
